Phase 1 — Data Loading & Initial Inspection
----
Purpose: Understand the dataset’s shape, structure, and variable types.

In [2]:
#Importing Libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
#Load dataset
bank_df = pd.read_excel(r"C:\Users\Emigb\Documents\Data Science\Joe Bass\DataInBrief_Bankdata.xlsx")

In [7]:
#Inspecting Data
# Inspecting Data

print("Shape of DataFrame:")
print(bank_df.shape)
print()  # Blank line

print("DataFrame Info:")
print(bank_df.info())
print()  # Blank line

print("First 5 Rows:")
print(bank_df.head())

Shape of DataFrame:
(675, 41)

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 675 entries, 0 to 674
Data columns (total 41 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   A_1_AGE         675 non-null    int64
 1   LOY_1           675 non-null    int64
 2   QUAL_1          675 non-null    int64
 3   QUAL_2          675 non-null    int64
 4   QUAL_4          675 non-null    int64
 5   QUAL_5          675 non-null    int64
 6   QUAL_6          675 non-null    int64
 7   QUA_7           675 non-null    int64
 8   PERF_1          675 non-null    int64
 9   PERF_2          675 non-null    int64
 10  PERF_3          675 non-null    int64
 11  PERF_4          675 non-null    int64
 12  PERF_5          675 non-null    int64
 13  CSOR_1          675 non-null    int64
 14  CSOR_2          675 non-null    int64
 15  CSOR_3          675 non-null    int64
 16  CSOR_4          675 non-null    int64
 17  CSOR_5          672 non-null    float64
 18  ATTR_1          675 non-null    int64
 19  ATTR_2          675 non-null    int64
 20  ATTR_3          675 non-null    int64
 21  ATTR_4          675 non-null    int64
 22  LIKE_1          675 non-null    int64
 23  LIKE_2          675 non-null    int64
 24  COMP_1          675 non-null    int64
 25  COMP_2          675 non-null    int64
 26  COMP_3          675 non-null    int64
 27  SAT_1           675 non-null    int64
 28  SAT_2           675 non-null    int64
 29  SAT_3           675 non-null    int64
 30  LOY_2           675 non-null    int64
 31  LOY_3           675 non-null    int64
 32  TRUST_1         675 non-null    int64
 33  TRUST_2         675 non-null    int64
 34  TRUST_3         675 non-null    int64
 35  TRUST_4         675 non-null    int64
 36  D_1_GENDER      675 non-null    int64
 37  D_2_FAMILY      675 non-null    int64
 38  D_3_EDUCATION   675 non-null    int64
 39  D_4_EMPLOYMENT  675 non-null    int64
 40  D_6_INCOME      675 non-null    int64
dtypes: float64(1), int64(40)
memory usage: 216.3 KB
None

First 5 Rows:
   A_1_AGE  LOY_1  QUAL_1  QUAL_2  QUAL_4  QUAL_5  QUAL_6  QUA_7  PERF_1  \
0        4      7       7       7       7       6       6      6       7
1        5      6       4       4       5       4       4      4       4
2        3      7       7       7       7       7       7      1       7
3        3      7       7       7       7       6       6      4       7
4        2      7       6       6       6       5       6      4       7

   PERF_2  ...  LOY_3  TRUST_1  TRUST_2  TRUST_3  TRUST_4  D_1_GENDER  \
0       7  ...      4        7        7        7        7           1
1       4  ...      3        4        4        4        4           1
2       7  ...      7        7        7        7        7           0
3       6  ...      7        6        6        4        4           1
4       7  ...      4        7        6        6        6           1

   D_2_FAMILY  D_3_EDUCATION  D_4_EMPLOYMENT  D_6_INCOME
0           4              2               3           4
1           0              6               0           0
2           4              5               7           4
3           4              3               7           4
4           2              6               7           0

[5 rows x 41 columns]

In [9]:
#Standardizing Columns
bank_df.columns = (bank_df.columns.str.strip()
                  .str.lower()
                  .str.replace(' ','_')
                  .str.replace('__', '_'))

In [10]:
bank_df.head()

,a_1_age,loy_1,qual_1,qual_2,qual_4,qual_5,qual_6,qua_7,perf_1,perf_2,...,loy_3,trust_1,trust_2,trust_3,trust_4,d_1_gender,d_2_family,d_3_education,d_4_employment,d_6_income
0,4,7,7,7,7,6,6,6,7,7,...,4,7,7,7,7,1,4,2,3,4
1,5,6,4,4,5,4,4,4,4,4,...,3,4,4,4,4,1,0,6,0,0
2,3,7,7,7,7,7,7,1,7,7,...,7,7,7,7,7,0,4,5,7,4
3,3,7,7,7,7,6,6,4,7,6,...,7,6,6,4,4,1,4,3,7,4
4,2,7,6,6,6,5,6,4,7,7,...,4,7,6,6,6,1,2,6,7,0

Phase 2 — Variable Mapping
----
Purpose: Separate measurement constructs from demographics.